<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Storage initialization method (Initialize or Clean) -->
    <add key="StorageInitMethod" value="Clean" />
    <!-- Note: Connection pooling is switched on for better performance -->
    <add key="ConnectionString.WithPooling" value="Server=.\SQLEXPRESS;Database=BugDB;Integrated Security=SSPI" />
    <!-- Note: Connection pooling is switched off to enable database restore -->
    <add key="ConnectionString.WithoutPooling" value="Server=.\SQLEXPRESS;Database=BugDB;Integrated Security=SSPI;Pooling=false" />
    <!-- Select default connection (can be WithPooling or WithoutPooling) -->
    <add key = "BLToolkit.DefaultConfiguration" value = "WithPooling"/>
  </appSettings>
</configuration>