<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Note: Connection pooling is switched off to enable database restore (;Pooling=false) -->
    <add key="ConnectionString" value="Server=.\SQLEXPRESS;Database=BugDB;Integrated Security=SSPI" />
  </appSettings>
</configuration>